@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
